header img {
    width: 25px;
    height: 25px;
}

header img:hover {
    filter: drop-shadow(0 0 2px white);
    transform: scale(1.1);
    transition: all .2s;
}

.portfolio {
    position: relative;
}

.portfolio::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgb(237, 237, 237);
    width: 0;
    bottom: 0;
    left: 0;
    transition: all .2s;
}

.portfolio:hover::after {
    width: 100%;
}